.rendered-images__container {
    overflow-y: scroll;
}

.rendered-images__single-image {
    height: 100px;

}




.second-column {
    max-width: 40vw;

    p {
        font-size: 14px;
        font-weight: normal;
        color: #aaa;
        max-width: 400px;
    }
}




.next-step__container {
    justify-content: center;

}


.next-step__button {
    //height: 66px;
    //width: 330px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #333;
    font-weight: bold;
    border-radius: 15px;
    background-color: #FCEA2B;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 40px;
    margin: 20px 0;

    transition: all 0.2s ease;
}

.next-step__button:hover {
    background-color: darken(#FCEA2B, 15%);
    transform: translateY(-3px);
    transition: all 0.2s ease;

}