.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: #BDBDBD;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.footer_small-text {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}